@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

.formContainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top left, #036295, #003f9e);
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer .wrapper {
  width: 24%;
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 10px;
}
.formContainer .wrapper .formHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.formContainer .wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formContainer .wrapper form input {
  width: 100%;
  padding: 10px 6px;
  outline: none;
  border: none;
  border-bottom: 2px solid #dbdbdb;
}
.formContainer .wrapper form input[type=file] {
  display: none;
}
.formContainer .wrapper form label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.formContainer .wrapper form label img {
  width: 30px;
}
.formContainer .wrapper form label p {
  font-size: 14px;
}
.formContainer .wrapper form .btn {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 0;
  background: linear-gradient(to top left, #036295, #003f9e);
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.formContainer .wrapper .formFooter {
  margin-top: 30px;
  text-align: center;
}

.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top left, #036295, #003f9e);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .container {
  background-color: #fff;
  width: 60%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  color: #fff;
}
.home .sidebar {
  flex: 1;
  border-right: 1px solid #000;
  background-color: #0d1117;
}
.home .sidebar .navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background-color: #161b22;
}
.home .sidebar .navbar .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.home .sidebar .navbar .user img {
  width: 28px;
  height: 28px;
  border: 1px solid #000;
  border-radius: 50%;
  object-fit: cover;
}
.home .sidebar .navbar .user .sm-btn {
  background-color: #3a3a3a;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}
.home .sidebar .search {
  border-bottom: 1px solid #dbdbdb;
}
.home .sidebar .search .searchForm input {
  width: 100%;
  padding: 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.home .sidebar .userChat {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
}
.home .sidebar .userChat:hover {
  background-color: #161b22;
}
.home .sidebar .userChat img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.home .sidebar .chats .userChatInfo p {
  font-weight: 500;
  line-height: 6px;
}
.home .sidebar .chats .userChatInfo span {
  font-size: 12px;
  color: #fff;
}
.home .chat {
  flex: 2;
  background-color: #fff;
}
.home .chat .chatInfo {
  height: 50px;
  background-color: #0d1117;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.home .chat .chatInfoIcons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.home .chat .chatInfoIcons img {
  width: 24px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */